#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#include "include/36.h"
#include "include/helper.h"

#define ___ &trans
#define xxx &none

#define DEF 0
#define NUM 1
#define NAV 2
#define SYML 3
#define SYMR 4
#define FUNL 5
#define FUNR 6

#define hm_tap_ms 300
#define def_tap_ms 200
#define quick_ms 175
#define idle_ms 90

#undef COMBO_TERM
#define COMBO_TERM 50

/ {
  chosen {
    zmk,matrix_transform = &five_column_transform;
  };
};

&lt {
  flavor = "balanced";
  tapping-term-ms = <def_tap_ms>;
  quick-tap-ms = <quick_ms>;
};

ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <hm_tap_ms>;
    quick-tap-ms = <quick_ms>;
    require-prior-idle-ms = <idle_ms>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
    bindings = <&kp>, <&kp>;
)

ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <hm_tap_ms>;
    quick-tap-ms = <quick_ms>;
    require-prior-idle-ms = <idle_ms>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
    bindings = <&kp>, <&kp>;
)

/* Custom behaviors */
ZMK_CAPS_WORD(my_caps,
  continue-list = <UNDERSCORE MINUS BSPC>;
)

ZMK_TAP_DANCE(caps_dance,
  tapping-term-ms = <def_tap_ms>;
  bindings = <&my_caps>, <&kp CAPS>;
)

// combos
ZMK_COMBO(caps_com, &caps_dance, LM0 RM0, DEF)

/* Keymap */
ZMK_LAYER(default_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &kp Q         &kp W         &kp E         &lt SYML R    &kp T             &kp Y         &lt SYMR U    &kp I         &kp O         &kp SEMI     
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &hml LGUI A   &hml LALT S   &hml LCTRL D  &hml LSHIFT F &kp G             &kp H         &hmr RSHFT J  &hmr RCTRL K  &hmr RALT L   &hmr RGUI P  
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp Z         &kp X         &kp C         &lt NAV V     &kp B             &kp M         &lt NUM M     &kp COMMA     &kp DOT       &kp FSLH    
  // ╰─────────────────────────────────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────────────────────────────────╯
                                  &kp TAB       &kp SPACE     &kp ESC           &kp ENTER     &kp BSPC      &kp DEL
  //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(num_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &kp PLUS      &kp N7        &kp N8        &kp N9        &kp MINUS         xxx           xxx           xxx           xxx           xxx         
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp EQUAL     &kp N4        &kp N5        &kp N6        &kp N0            xxx           xxx           xxx           xxx           xxx         
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      xxx           &kp N1        &kp N2        &kp N3        &kp DOT           xxx           xxx           xxx           &mo FUNL      xxx         
  // ╰─────────────────────────────────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────────────────────────────────╯
                                  ___           ___           ___               ___           ___           ___
  //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(nav_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      xxx           xxx           xxx           xxx           xxx               &kp K_COPY    &kp K_CUT     &kp INSERT    &kp K_UNDO    &kp K_REDO    
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      xxx           xxx           xxx           xxx           xxx               &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &kp K_PASTE    
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      xxx           &mo FUNR      xxx           xxx           xxx               &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       &kp BSLH     
  // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────────────────────────────────╯
                                  ___           ___           ___               ___           ___           ___     
  //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(syml_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      xxx           &kp AMPS      &kp STAR      &kp LPAR      &kp UNDER         xxx           xxx           xxx           xxx           xxx         
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      xxx           &kp DLLR      &kp PRCNT     &kp CARET     &kp RPAR          xxx           xxx           xxx           xxx           xxx         
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      xxx           &kp EXCL      &kp AT        &kp HASH      xxx               xxx           xxx           xxx           xxx           xxx         
  // ╰─────────────────────────────────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────────────────────────────────╯
                                  ___           ___           ___               ___           ___           ___
  //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(symr_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      xxx           xxx           xxx           xxx           xxx               &kp TILDE     &kp LPAR      &kp RPAR      &kp DQT       xxx
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      xxx           xxx           xxx           xxx           xxx               &kp GRAVE     &kp LBRC      &kp RBRC      &kp SQT       xxx
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      xxx           xxx           xxx           xxx           xxx               xxx           &kp LBKT      &kp RBKT      xxx           &kp PIPE
  // ╰─────────────────────────────────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────────────────────────────────╯
                                  ___           ___           ___               ___           ___           ___
  //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(funl_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &kp F12       &kp F7        &kp F8        &kp F9        &kp PRINTSCREEN   xxx           xxx           &sys_reset    xxx           &bootloader    
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp F11       &kp F4        &kp F5        &kp F6        &kp SCROLLLOCK    xxx           xxx           xxx           xxx           xxx         
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp F10       &kp F1        &kp F2        &kp F3        &kp PAUSE_BREAK   xxx           xxx           xxx           xxx           xxx         
  // ╰─────────────────────────────────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────────────────────────────────╯
                                  ___           ___           ___               ___           ___           ___
  //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(funr_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &bootloader   xxx           &sys_reset    xxx           &bt BT_CLR        &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4              
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      xxx           xxx           xxx           xxx           xxx               &out OUT_BLE  &out OUT_USB  xxx           xxx           xxx
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      xxx           xxx           xxx           xxx           xxx               &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4              
  // ╰─────────────────────────────────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────────────────────────────────╯
                                  ___           ___           ___               ___           ___           ___
  //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)
